<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %> - Your One-Stop-Shop for Developer Tools and Utilities</title>
    <link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon">
    <link rel="canonical" href="<%= site_url %>" />

    <!-- SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="theme-color" content="<%= theme_color %>">
    <meta name="author" content="<%= author %>">
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="notranslate" />

    <!-- OpenGraph -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= og_image %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= docs_url %>" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="<%= twitter_handle %>" />
    <meta name="twitter:creator" content="<%= twitter_handle %>" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="<%= og_image %>" />
    <meta name="twitter:url" content="<%= docs_url %>" />

    <!-- Styles -->
    <link href="<%= css_base_url %>/styles.min.css" rel="stylesheet">
</head>

<body>
    <nav id="new-sidebar">
        <div class="logo">
            <h1><%= title %></h1>
            <span class="api-version">API version: <a href="<%= github_url %>" target="_blank" title="Take a look on the github"><%= api_version %></a></s>
        </div>
        <ul class="links">
            <li class="link active"><a href="<%= site_url %>">Home</a></li>
            <li class="link"><a href="<%= docs_url %>">Docs</a></li>
            <li class="link"><a href="<%= github_url %>" target="_blank">Github</a></li>
        </ul>
    </nav>
    <main id="home-ui">
        <h1>SOON</h1>
    </main>
</body>

</html>