<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %> Documentation - Detailed Guides and Reference</title>
    <link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon">
    <link rel="canonical" href="<%= docs_url %>" />

    <!-- SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="theme-color" content="<%= theme_color %>">
    <meta name="author" content="<%= author %>">
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="notranslate" />

    <!-- OpenGraph -->
    <meta property="og:title" content="<%= title %> - Documentation" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= og_image %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= docs_url %>" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="<%= twitter_handle %>" />
    <meta name="twitter:creator" content="<%= twitter_handle %>" />
    <meta name="twitter:title" content="<%= title %> - Documentation" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="<%= og_image %>" />
    <meta name="twitter:url" content="<%= docs_url %>" />

    <!-- Styles -->
    <link rel="stylesheet" href="/docs/swagger-ui/swagger-ui.css" />
    <link href="<%= site_url %>/styles.min.css" rel="stylesheet">
</head>

<body>
    <div id="preloader">
        <img src="<%= site_url %>/preloader.gif" alt="Loading...">
        <h1>Loading...</h1>
    </div>
    <nav id="new-sidebar">
        <div class="logo">
            <h1><%= title %></h1>
            <span class="api-version">API version: <a href="<%= github_url %>" target="_blank" title="Take a look on the github"><%= api_version %></a></s>
        </div>
        <ul class="links">
            <li class="link"><a href="<%= site_url %>">Home</a></li>
            <li class="link active"><a href="<%= docs_url %>">Docs</a></li>
            <li class="link"><a href="<%= github_url %>" target="_blank">Github</a></li>
        </ul>
    </nav>
    <main id="swagger-ui"></main>
</body>

<script src="/docs/swagger-ui/swagger-ui-bundle.js"></script>
<script src="/docs/swagger-ui/swagger-ui-standalone-preset.js"></script>
<script defer>window.onload=function(){let e=SwaggerUIBundle({url:"<%= swagger_spec_url %>",dom_id:"#swagger-ui",deepLinking:!0,presets:[SwaggerUIBundle.presets.apis,SwaggerUIStandalonePreset],plugins:[SwaggerUIBundle.plugins.DownloadUrl],layout:"StandaloneLayout",onComplete:function(){document.getElementById("preloader").style.display="none",document.querySelector("#swagger-ui > section > div.topbar")?.remove(),document.querySelector("#swagger-ui > section > div > div:nth-child(2) > div.information-container.wrapper")?.remove(),document.querySelector("#swagger-ui > section > div.wrapper")?.remove()}});window.ui=e};</script>

</html>